<%= render partial: 'bulk_discounts_nav', locals: {merchant: @merchant} %>

<body>
  <div class="row">
    <p class='mr-auto col-sm-5'>All my Discounts</p>
  </div>

  <%= link_to 'Create New Discount', new_merchant_bulk_discount_path(@merchant.id) %>

  <ul class='ml-auto col-sm-4'>
    <section id = "all_discounts" >
      <p><% @discounts.each do |discount| %>
        <li><strong>Title: </strong><%= link_to "#{discount.title}", "/merchant/#{@merchant.id}/bulk_discounts/#{discount.id}" %>
        <p><strong>Percentage Discount: </strong><%= discount.percentage_discount.to_i %>%</p>
        <p><strong>Quantity Threshold: </strong><%= discount.quantity_threshold %> items</p></li>
        <%= link_to "Delete #{discount.title}", "/merchant/#{@merchant.id}/bulk_discounts/#{discount.id}", method: :delete %>
        <br>
      <% end %>
      </p>
    </section>
  </ul>
</body>